In [ ]:
# default_exp data_preparation
# default_cls_lvl 2

In [ ]:
%load_ext autotime

# Data Cleaning

> Dieser Bereich bereinigt das zuvor vereinfachte Datenset.

Wie auch beim vorherigen Modul werden nur die aus unserer Sicht wichtigsten Features bereinigt. Hier besteht noch deutlich mehr potential. Doch dieses Modul fokusiert sich auf folgende Features:
 - Age
 - Rent (renta)

In [ ]:
#export
import pandas as pd
import numpy as np

from fastscript import *

time: 2.05 s

In [ ]:
#export 
def load_data(path='data/interim/01_train.csv'):
    """load data"""
    return pd.read_csv(path)

time: 446 Âµs

In [ ]:
train = load_data().sample(100000)

time: 25.5 s

In [ ]:
train.age.describe()

count    100000.000000
mean         40.184390
std          17.358848
min          -1.000000
25%          24.000000
50%          39.000000
75%          51.000000
max         113.000000
Name: age, dtype: float64

time: 28.8 ms

In [ ]:
pd.set_option('display.max_columns', 60)
train.head(10)

,id,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,fecha_dato_month,fecha_dato_year,month_int,fecha_alta_month,fecha_alta_year,fecha_alta_day,fecha_alta_month_int,fecha_alta_day_int,ult_fec_cli_1t_month,ult_fec_cli_1t_year,ult_fec_cli_1t_day,ult_fec_cli_1t_month_int
9560246,938020,0,0,1,27,0,52,1,1,1,1,0,-1,1,0,1,8,0,74750,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,13,9,16,2,201,6112,1,5,1,61
913468,228090,0,0,0,71,0,172,1,1,0,1,0,-1,5,0,1,43,0,92214,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2,3,6,12,75,2292,1,5,1,61
329218,292751,0,0,0,48,0,164,1,1,1,1,0,-1,4,0,1,27,0,44289,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,11,6,8,83,2528,1,5,1,61
13008483,55479,0,0,0,70,0,232,1,1,0,1,0,-1,5,0,1,28,1,137716,1,0,0,0,0,1,0,0,1,0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,1,5,1,17,1,2,29,25,789,1,5,1,61
535758,761199,0,0,1,49,0,33,1,1,0,1,0,-1,5,0,1,8,1,53890,2,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,4,13,16,160,4881,1,5,1,61
5004044,1268042,0,0,1,75,0,13,1,1,0,1,0,-1,5,0,1,8,1,95471,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,8,0,8,7,19,9,235,7154,1,5,1,61
11467131,576205,0,0,0,73,0,121,1,1,1,1,0,-1,67,0,1,28,0,191146,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,1,15,2,11,10,134,4085,1,5,1,61
5886830,1199656,0,0,1,25,0,23,1,1,1,1,0,-1,1,0,1,28,0,110201,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0,9,10,18,14,226,6884,1,5,1,61
8863728,534987,0,0,1,40,0,127,1,1,0,1,0,-1,4,0,1,8,1,-1,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,12,0,12,5,10,30,125,3830,1,5,1,61
8999295,1431295,0,0,0,37,1,4,2,1,1,1,0,-1,12,0,1,28,0,89477,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,0,12,8,20,6,248,7546,12,0,24,12

time: 20.5 ms

## clean_age

In [ ]:
#export
def clean_age(df:pd.DataFrame):
    """clean age"""
    df.loc[df.age < 18,"age"]  = (df.loc[(df.age >= 18) & (df.age <= 30),"age"].mean(skipna=True))
    df.loc[df.age > 100,"age"] = (df.loc[(df.age >= 30) & (df.age <= 100),"age"].mean(skipna=True))
    df["age"].fillna(df["age"].mean(),inplace=True)
    df["age"] = df["age"].astype(int)
    return df

time: 957 Âµs

In [ ]:
train.age.describe()

count    100000.000000
mean         40.184390
std          17.358848
min          -1.000000
25%          24.000000
50%          39.000000
75%          51.000000
max         113.000000
Name: age, dtype: float64

time: 10 ms

In [ ]:
df1 = clean_age(train)
assert df1.age.min() >= 18
assert df1.age.max() <= 100

print("#### before ####")
print(train.age.describe())

print("#### after ####")
print(df1.age.describe())
#del df1

#### before ####
count    100000.000000
mean         40.267830
std          17.040391
min          18.000000
25%          24.000000
50%          39.000000
75%          50.000000
max         100.000000
Name: age, dtype: float64
#### after ####
count    100000.000000
mean         40.267830
std          17.040391
min          18.000000
25%          24.000000
50%          39.000000
75%          50.000000
max         100.000000
Name: age, dtype: float64
time: 22.3 ms

In [ ]:
df1.head(10)

,id,ind_empleado,pais_residencia,sexo,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,fecha_dato_month,fecha_dato_year,month_int,fecha_alta_month,fecha_alta_year,fecha_alta_day,fecha_alta_month_int,fecha_alta_day_int,ult_fec_cli_1t_month,ult_fec_cli_1t_year,ult_fec_cli_1t_day,ult_fec_cli_1t_month_int
9560246,938020,0,0,1,27,0,52,1,1,1,1,0,-1,1,0,1,8,0,74750,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,13,9,16,2,201,6112,1,5,1,61
913468,228090,0,0,0,71,0,172,1,1,0,1,0,-1,5,0,1,43,0,92214,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,2,3,6,12,75,2292,1,5,1,61
329218,292751,0,0,0,48,0,164,1,1,1,1,0,-1,4,0,1,27,0,44289,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,11,6,8,83,2528,1,5,1,61
13008483,55479,0,0,0,70,0,232,1,1,0,1,0,-1,5,0,1,28,1,137716,1,0,0,0,0,1,0,0,1,0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,1,5,1,17,1,2,29,25,789,1,5,1,61
535758,761199,0,0,1,49,0,33,1,1,0,1,0,-1,5,0,1,8,1,53890,2,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,4,13,16,160,4881,1,5,1,61
5004044,1268042,0,0,1,75,0,13,1,1,0,1,0,-1,5,0,1,8,1,95471,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,8,0,8,7,19,9,235,7154,1,5,1,61
11467131,576205,0,0,0,73,0,121,1,1,1,1,0,-1,67,0,1,28,0,191146,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,1,15,2,11,10,134,4085,1,5,1,61
5886830,1199656,0,0,1,25,0,23,1,1,1,1,0,-1,1,0,1,28,0,110201,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0,9,10,18,14,226,6884,1,5,1,61
8863728,534987,0,0,1,40,0,127,1,1,0,1,0,-1,4,0,1,8,1,-1,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,12,0,12,5,10,30,125,3830,1,5,1,61
8999295,1431295,0,0,0,37,1,4,2,1,1,1,0,-1,12,0,1,28,0,89477,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,0,12,8,20,6,248,7546,12,0,24,12

time: 18.3 ms

## clean_renta

In [ ]:
#export
def clean_renta(df:pd.DataFrame):
    """fill in NaNs with median value from its region"""
    df = df[df["renta"] > 0].copy()
    grouped = df.groupby("cod_prov").agg({"renta":lambda x: x.median(skipna=True)}).reset_index()
    new_incomes = pd.merge(df,grouped,how="inner",on="cod_prov").loc[:, ["cod_prov","renta_y"]]
    new_incomes = new_incomes.rename(columns={"renta_y":"renta"}).sort_values("renta").sort_values("cod_prov")
    df.sort_values("cod_prov",inplace=True)
    df = df.reset_index()
    new_incomes = new_incomes.reset_index()

    df.loc[df.renta < 0,"renta"] = new_incomes.loc[df.renta.isnull(),"renta"].reset_index()
    df.loc[df.renta < 0,"renta"] = df.loc[df.renta.notnull(),"renta"].median()
    df.sort_values(by="month_int",inplace=True)
    df.drop('index', inplace=True, axis=1)
    return df

time: 2.12 ms

In [ ]:
df1 = clean_renta(train)

time: 145 ms

In [ ]:
assert df1.renta.min() > 0

print("#### before ####")
print(train.renta.describe())

print("#### after ####")
print(df1.renta.describe())

del df1

#### before ####
count    1.000000e+05
mean     1.065912e+05
std      1.987150e+05
min     -1.000000e+00
25%      4.208675e+04
50%      8.400700e+04
75%      1.376310e+05
max      2.425324e+07
Name: renta, dtype: float64
#### after ####
count    7.966800e+04
mean     1.337945e+05
std      2.143027e+05
min      2.336000e+03
25%      6.890950e+04
50%      1.020210e+05
75%      1.561472e+05
max      2.425324e+07
Name: renta, dtype: float64
time: 10.5 ms

In [ ]:
#export
@call_parse
def clean_all_data(source:Param("source csv file", str) = 'data/interim/01_train.csv',
                   dest:Param("destination csv file", str) = 'data/interim/02_train.csv'):
    """main function to clean all data"""
    data = load_data(source)
    data = clean_age(data)
    data = clean_renta(data)
    data.to_csv(dest, index=False)
    return data

time: 68.2 ms

In [ ]:
train = clean_all_data()

time: 1min 59s

In [ ]:
from nbdev.export import *
notebook2script()

Converted 00_data_prep.ipynb.
Converted 00_data_preparation.ipynb.
Converted 00_data_preparation_CCA.ipynb.
Converted 01_data_preprocess.ipynb.
Converted 02_data_Cleaning.ipynb.
Converted 03_target_vars.ipynb.
Converted index.ipynb.
time: 173 ms